.header-container {
  text-align: left;
  font-weight: bold;
  margin-top: 80px; /* To ensure the text is visible below the fixed header */
  font-family: Arial, sans-serif;
  color: #333;
  margin-top: 100px;

  padding-right: 150px;
}

.header-container h1 {
  font-size: 30px;
  margin: 50px 50px;
}

.searchbar-container {
  display: flex;
  align-items: center;
  margin: 20px 0; /* Adjust spacing as needed */
  padding-left: 50px;
}

.searchbar-container input {
  width: 100%; /* Make the search bar responsive */
}
